// Hover animation with the text taken from, ya know, a
// real designer aka Hongye Xu
//
// hongyexu.co
//


@import "./vendors/normalize";

$font-header: 'Circular-Bold', sans-serif;
$font-body: 'Circular', sans-serif;
$primary-blue: #2196F3;
$primary-red: #FF8177;
$container-padding: 2rem;

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular-Book.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Circular-Bold';
  src: url('./fonts/Circular-Bold.ttf')  format('truetype'),
}

html, body {
  height: 100%;
  margin: 0rem;
  padding: 0rem;
}

.underline {
  transition: all 0.5s ease;
  border-bottom: 2px solid black;
  padding-bottom: 1px;
  &:hover {
    color: white;
    padding: 5px;
    background-color: black;
    text-decoration: none;
  }
}


.clickable {
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  flex: 1;
  padding-top: 1.5rem;
  background-color: $primary-red;
  .info-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: $font-body;
    padding: 2rem 2rem 0rem 2rem;
  }
  .contact-info {
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-family: $font-body;
    padding: $container-padding;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .tab {
    flex: 1;
    text-align: center;
    font-family: $font-header;
    padding-bottom: calc(1rem + 3px);
    cursor: pointer;
  }
  .active-tab {
    @extend .tab;
    padding-bottom: 1rem;
    border-bottom: 3px solid black;
  }
}

.search-container {
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  .search-icon {
    height: 1rem;
    width: auto;
    margin-right: 1rem;
    display: inline-block;
  }
  .search-bar {
    text-decoration: none;
    background-color: $primary-red;
    width: 85%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid black;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    font-family: $font-header;
  }
}

.map-container {
  height: 100vh;
  flex: 3;
  #map {
    height: 100%;
  }
}
